<h1 style="text-align: center;">New assignment</h1>
<div class="card-container" style="margin-left: 5rem; margin-right: 5rem; padding: 20px;">

<%= simple_form_for [ @lesson, @assignment ] do |f| %>
  <%= f.input :title %>
  <%= f.input :due_date %>
  <%= f.input :details %>
  <%= f.input :photo, as: :file %>
  <%= f.input :video, as: :file %>
  
 <div class="button-style" style="padding-top: 30px; padding-bottom: 30px;">
  <%= f.submit class: "button-green" %>
<% end %>
</div>

