<h1 style="margin-left: 2rem;">Assignment for <%= @student.full_name %> </h1>

<div class="card-container" style="margin-left: 2rem;">
<p> <%= @assignment.title.capitalize %> </p>
<p> <%= @assignment.due_date %> </p>
<p> <%= @assignment.details %> </p>
<p> <%= @assignment.completed %> </p>
<p> <%= @assignment.feedback %> </p>
<li class="list-group-item">Assignment completed: <input type="checkbox" checked readonly="readonly" /></li>
<div>
<%= cl_image_tag @assignment.photo.key, height: 150, width: 200, crop: :fill, style: "vertical-align: top" %>
<%= cl_video_tag @assignment.video.key, height: 150, width: 200, crop: :fill, controls: true %>
</div>

</div>


