<div class="back-cta" style="margin-left: 2rem; margin-bottom: 1rem;">
  <span class="material-icons">arrow_back_ios_new</span>
  <%= link_to "Back to #{@student.first_name.capitalize}'s assignments", student_assignments_user_path(@student), class: 'button-back' %>
</div>

<div class="show-card-container" style="margin-left: 2rem; border-radius: 10px">
  <div class="inner-card">
  <div class="d-flex justify-content-between" style="border-bottom: 1px solid #e8e8e8; margin-bottom:15px">
    <h3><%= @assignment.title.capitalize %></h3>
    <p><strong>Due date:</strong> <%= @assignment.due_date.strftime("%a, %e %b %Y") %></p>
  </div>
    <div class="inner-card-assignment">
    <div class="inner-card-details">
      <p style="border-bottom: 1px solid white; color: black">Assignment details:</p>
      <p style="color: #808080"> <%= @assignment.details %> </p>
    </div>
    <div class="inner-card-feedback">
    <p style="border-bottom: 1px solid white; color: black">Assignment feedback:</p>
    <% if @assignment.feedback == " " || @assignment.feedback == "" %>
    <p style="color: #808080"><i>No feedback</i></p>
    <% else %>
    <p style="color: #808080"> <%= @assignment.feedback %> </p>
    <% end %>
    </div>
    </div>
  </div>
    <div  class="inner-card-completed">
    <li class="list-group-item" style="padding-bottom: 25px">Assignment completed: <input type="checkbox" checked readonly="readonly" /></li>

    <div style="display: flex">
    <p>
    <% if @assignment.photo.attached? %>
      <%= link_to cl_image_path(@assignment.photo.key) do %>
      <%= cl_image_tag @assignment.photo.key, height: 250, width: 300, crop: :fill, style: "vertical-align:top; margin-right: 20px;" %>
    <% end %>
    </p>
    <p>
      <% end %>
    <% if @assignment.video.attached? %>
      <%= cl_video_tag @assignment.video.key, height: 250, width: 300, crop: :fill, controls: true %>
    <% end %>
    </p>
    </div>  
    </div>

  </div>


