<h1 style="margin-left: 2rem;">Assignment for <%= @student.full_name %> </h1>

<div class="card-container" style="margin-left: 2rem;">
<p> <%= @assignment.title.capitalize %> </p>
<p> <%= @assignment.due_date %> </p>
<p> <%= @assignment.details %> </p>
<p> <%= @assignment.completed %> </p>
<p> <%= @assignment.feedback %> </p>
<%= cl_image_tag @assignment.photo.key, height: 300, width: 400, crop: :fill %>
<%= cl_video_path @assignment.video.key, height: 300, width: 400, crop: :fill %>


</div>

