<h1>Assignment for <%= student.full_name %> </h1>

<p> <%= assignment.title %> </p>
<p> <%= assignment.due_date %> </p>
<p> <%= assignment.details %> </p>
<p> <%= assignment.status %> </p>
<p> <%= assignment.feedback %> </p>
<% end %>
