<div class="inner-dashboard-container">
  <div class="back-cta">
    <span class="material-icons">arrow_back_ios_new</span>
    <%= link_to "Back to students", students_path, class: 'button-back' %>
  </div>
  <div>
    <div class="card">
      <div class="student-details">
        <div class="inner-details">
          <% if @student.photo.attached? %>
            <%= cl_image_tag @student.photo.key, style: 'border-radius: 50%; height: 150px; width: 150px' %>
          <% else %>
            <%= cl_image_tag 'https://res.cloudinary.com/tdavid/image/upload/v1623955031/ssaunier_p1bauy.jpg', style: 'border-radius: 50%; height: 100px; width: 100px'%>
          <% end %>
          <div class="personal-info">
            <h2>
              <%= @student.full_name %>
            </h2>
            <p class="light-gray-information">
              <%= @student.email %>
            </p>
            <p class="light-gray-information"><%= @student.instrument %></p>
          </div>
        </div>
<!--         <div class="assignments-container"> -->
          <%= link_to "See assignments", student_assignments_user_path, class: "button-grey position-top" %>
<!--         </div> -->
      </div>
    </div>

    <div class="d-flex">
      <div class="lesson-history">
        <div class="card lesson">
          <div class="section-header">
            <h4>Upcoming lessons</h4>
            <div class="cta">
              <% if @lesson %>
                <%= link_to "Join lesson", lesson_path(@lesson), class: "button-green" %>
              <% end %>
            </div>
          </div>
        <div>

          <% @lessons.each do |lesson| %>
          <% if lesson.start_time.localtime > Time.now %>
          <div class="student-lesson">
            <div class="lesson-info">
              <h5>
                <%= lesson.start_time.localtime.strftime("%a, %e %b %Y") %>
              </h5>
              <p>
                <%= lesson.start_time.localtime.to_s(:time) %> -
                <%= lesson.end_time.localtime.to_s(:time) %>
              </p>
            </div>
            <div class="lesson-start">
              <% if lesson.start_time.localtime > Time.now + 1.hours %>
                <p>
                  <%= lesson.starting_in %>
                </p>
                <% else %>
                <%= link_to "Join lesson", lesson_path(lesson), class: "button-green" %>
              <% end %>
            </div>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>

      <div class="card lesson">
        <div class="section-header">
          <h4>Previous lessons</h4>
        </div>
        <div>


        <% @lessons.each do |lesson| %>
          <% if lesson.start_time.localtime < Time.now %>
          <div class="student-lesson">
            <div class="lesson-info">
              <h5>
                <%= lesson.start_time.localtime.strftime("%a, %e %b %Y") %>
              </h5>
            </div>
              <p>
                <%= lesson.start_time.localtime.to_s(:time) %> -
                <%= lesson.end_time.localtime.to_s(:time) %>
              </p>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>

      <div class="card schedule-list">
        <div>
          <%#= link_to "Add assignment", new_lesson_assignment_path(@lesson), class: "btn btn-success" %>
        </div>

        <div class="lesson-notes-container">
          <div class="section-header">
            <h4>Lesson notes</h4>
          </div>
          <div class="lesson-info-container">
            <% @lessons_descending.each do |lesson| %>
              <div class="lesson-info mb-3">
                <% if lesson.teacher_notes.present? %>
                  <span><%= lesson.start_time.strftime("%e %b %Y") %></span>
                  <div class="mt-2">
                  <%= lesson.teacher_notes %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</div>
