<div class="inner-dashboard-container">
  <div>
    <div class="card">
      <div class="student-details">
          <% if @student.photo.attached? %>
            <%= cl_image_tag @student.photo.key, style: 'border-radius: 50%; height: 100px; width: 100px' %>
          <% else %>
            <%= cl_image_tag 'https://res.cloudinary.com/tdavid/image/upload/v1623955031/ssaunier_p1bauy.jpg', style: 'border-radius: 50%; height: 100px; width: 100px'%>
          <% end %>
        <div class="personal-info">
          <h2>
            <%= @student.full_name %>
          </h2>
          <p>
            <%= @student.email %>
          </p>
        </div>
        <div class="cta">
          <%= link_to "Join lesson", lesson_path(@lesson), class: "btn btn-success" %>
        </div>
      </div>
      <div>
        <%#= link_to "Message @student.first_name", message_path(student), class: "btn btn-success" %>
      </div>
    </div>
    <div class="d-flex">
      <div class="card col-12 col-lg-8">
        <div class="section-header">
          <h4>Lesson history</h4>
        </div>
        <div>
          <% @lessons.each do |lesson| %>
          <div class="student-lesson">
            <div class="lesson-info">
              <h5>
                <%= lesson.start_time.localtime.strftime("%a, %e %b %Y") %>
              </h5>
              <p>
                <%= lesson.start_time.localtime.to_s(:time) %> -
                <%= lesson.end_time.localtime.to_s(:time) %>
              </p>
            </div>
            <div class="lesson-start">
              <% if lesson.start_time.localtime > Time.now + 1.hours %>
              <p>
                <%= lesson.starting_in %>
              </p>
              <% else %>
              <%= link_to "Join lesson", lesson_path(@lesson), class: "btn btn-success" %>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>

      </div>
      <div class="card col-12 col-lg-4">
        <div class="assignments-container mb-5">
          <%= link_to "See assignments", student_assignments_user_path, class: "btn btn-secondary" %>
        </div>
        <div>
          <%#= link_to "Add assignment", new_lesson_assignment_path(@lesson), class: "btn btn-success" %>
        </div>

        <div class="lesson-notes-container">
          <h5>Lesson Notes</h5>
          <% @lessons.each do |lesson| %>
            <div class="lesson-info">
            <%= lesson.teacher_notes %>
            </div>
          <% end %>
          <%#= link_to "See all notes", teacher_notes_path(lesson) %>
      </div>
    </div>
  </div>
</div>
