<div class="my-container">
  <%= link_to "Back", student_path(@student), class: "btn btn-outline-secondary link-right" %>
  <div class="student-details">
    <h2 class="bold-headers">Assignments</h2>
        <h5><%= @student.full_name %></h5>

  </div>
    <div class="assignments-card">
      <% @assignments.each do |assignment| %>
        <ul class="list-group card card-small mt-4">
          <li class="list-group-item"><h4><%= link_to assignment.title.capitalize, assignment_path(assignment), class: "bold-headers underlined-link" %></h4></li>
          <li class="list-group-item"><p>Due: <%= assignment.due_date.strftime("%a, %e %b %Y") %></p></li>
          <li class="list-group-item"><p>Details: <%= assignment.details %></p></li>
          <li class="list-group-item">Assignment completed: <input type="checkbox" checked readonly="readonly" /></li>
          <li class="list-group-item">
            <% if assignment.photo.attached? %>
              <%= link_to cl_image_path(assignment.photo.key) do %>
                <%= cl_image_tag assignment.photo.key, height: 180, width: 240, crop: :fill, style: "vertical-align:top;" %>
              <% end %>
            <% end %>
            <% if assignment.video.attached? %>
              <%= cl_video_tag assignment.video.key, height: 180, width: 240, crop: :fill, controls: true %>
            <% end %></li>
        </ul>
      <% end %>
    </div>
</div>
