<h2> Assignments <%= @student.full_name %> </h2>

<div class="assignment-list">
<ul class="list-group">
<% @assignments.each do |assignment| %>
 <div class="card-container" style="width: 36rem; margin: 2rem;">
<li class="list-group-item"><%= link_to assignment.title.capitalize, assignment_path(assignment) %></li>
<li class="list-group-item"><%= assignment.due_date %></li>
<li class="list-group-item"><%= assignment.details %></li>
<li class="list-group-item">Done: <%= assignment.completed %></li>

</div>
  <% end %>
 </ul>
</div>