<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<div>
  <div class="row">
    <div class="col-12 col-lg-3">
      <div class="app-nav">
        <%= cl_image_tag "FiveLines-logo-white_tn4fjy.svg", width: 200, crop: :fit %>
          <div class="menu-wrapper">
            <ul>
              <li><%= link_to "Home", dashboard_path, class: "vert-nav-link" %></li>
              <li><%#= link_to "Students", students_path, class: "vert-nav-link" %></li>
              <li><%= link_to "Calendar", calendar_path, class: "vert-nav-link" %></li>
              <li><%#= link_to "Assignments", student_assignments_user_path, class: "vert-nav-link" %></li>
              <li><%#= link_to "Messages", messages_path, class: "vert-nav-link" %></li>
              <li><%#= link_to "Resources", resources_path, class: "vert-nav-link" %></li>
            </ul>
          </div>
      </div>
    </div>


    <div class="col-12 col-lg-9">
      <div class="user-nav">
        <div class="user-nav-items">
          <ul class="navbar-nav-items mr-auto">
            <% if user_signed_in? %>
              <li class="nav-item active">
                <a href="/calendar"><span class="material-icons">calendar_today</span></a>
              </li>
              <li class="nav-item">
                <span class="material-icons">notifications</span>
              </li>

              <li class="nav-item dropdown">
                  <%= current_user.first_name %>
                  <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <%= link_to "My profile", edit_user_registration_path, class: "dropdown-item" %>
                  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                </div>
              </li>

              <% else %>

              <li class="nav-item">

              </li>

            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
