<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<div>
  <div class="app-nav">
    <%= cl_image_tag "FiveLines-logo-white_tn4fjy.svg", width: 150, crop: :fit %>
      <div class="menu-wrapper">
        <ul>
          <div class="menu-items">
            <li class="<%= "menu-active" if current_page?(dashboard_path) %>">
                <span class="material-icons">home</span> <%= link_to "Home", dashboard_path%>
              </li>
            <li class="<%= "menu-active" if current_page?(students_path) || params[:controller] == 'students' && params[:action] == 'show' || params[:controller] == 'users' && params[:action] == 'student_assignments' %>">
              <span class="material-icons">people_alt</span> <%= link_to "Students", students_path, class: "vert-nav-link" %>
            </li>
            <li class="<%= "menu-active" if current_page?(calendar_path) %>">
              <span class="material-icons">calendar_today</span> <%= link_to "Calendar", calendar_path, class: "vert-nav-link" %>
            </li>
            <li class="<%= "menu-active" if current_page?(resources_path(1)) %>">
              <span class="material-icons">folder</span> <%= link_to "Resources", resources_path(1), class: "vert-nav-link" %>
            </li>
          </div>
        </ul>
      </div>
  </div>
</div>
