<div class="home-sec" style="background-image: url('<%= cl_image_path 'purple-wave_lf0gye.svg', width: 1920, height: 400, crop: :fill %>'); background-repeat: no-repeat;";>
  <div class="logo">
    <%= cl_image_tag 'FiveLines-logo_s65a7k.svg', width: 200, crop: :fill %>
  </div>
  <div class="container">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="top-content">
            <h1>The music sounds better <span>with you.</span></h1>
            <h3>A music education app for music teachers.</h3>
          </div>

          <div class="cta-group">
            <div class="button-green">
              <%= link_to "Dashboard", new_user_session_path %>
            </div>
            <div class="button-text">
              <%= link_to "Create an account", new_user_registration_path %>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <%= cl_image_tag "music-mosaic_jxcvm2.jpg", width: 600, crop: :fit %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-sec" style="background-image: url('<%= cl_image_path 'green-wave_t5g1cu.svg', height: 400, crop: :fill %>'); background-repeat: no-repeat;";>
  <div class="green-bg">
    <div class="container">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-12 col-lg-6">
            <%= cl_image_tag 'https://res.cloudinary.com/tdavid/image/upload/r_15/v1625084442/fivelines-music_rnuogl.jpg', width: 500, crop: :fill %>
          </div>

          <div class="col-12 col-lg-6">
            <h2 data-aos="fade-up" data-aos-duration="1500">Where music education happens</h2>
            <p data-aos="fade-up" data-aos-duration="1500">FiveLines makes teaching music easy, whenever or wherever you are. Inspire your students to learn and keep them motivated to practice music.<br><br>Teach music theory, set regular assignments and empower students to learn rapidly through a practical syllabus.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="how-to">
  <div class="container">
    <h2 data-aos="fade-up" data-aos-duration="1500">Why FiveLines</h2>
    <div class="d-flex">
      <div class="col-12 col-lg-3">
        <div class="purple-card">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <%= cl_image_tag 'Fivelines_-_dashboard_bvqfky.png', width: 225, crop: :fit %>
        </div>
        <h3>Never miss a beat</h3>
        <p>Organize your day and stay on schedule with a personalised dashboard for you and your students.</p>
      </div>
      <div class="col-12 col-lg-3">
        <div class="purple-card">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <%= cl_image_tag '  Fivelines_-_video_call_zulta8.png', width: 225, crop: :fit %>
        </div>
        <h3>Teach on the go</h3>
        <p>Invited students can join a video lesson from their computer using any modern web browser — no software to install.</p>
      </div>
      <div class="col-12 col-lg-3">
        <div class="purple-card">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <%= cl_image_tag 'Fivelines_-_assignments_wmrmdp.png', width: 225, crop: :fit %>
        </div>
        <h3>Assignments</h3>
        <p>Keep your students accountable and support their music progression with regular assignment tasks.</p>
      </div>
      <div class="col-12 col-lg-3">
        <div class="purple-card">
          <div class="dot-group">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
          <%= cl_image_tag 'Fivelines_-_resources_clt5y8.png', width: 225, crop: :fit %>
        </div>
        <h3>Resource library</h3>
        <p>Inspire students and keep them motivated with easy access to a collection of videos, texts, images and audio files.</p>
      </div>
    </div>
  </div>
</div>

<div class="quote-sec">
  <div class="container">
    <blockquote data-aos="fade-up" data-aos-duration="1500">Used by 1000s of teachers, students and trusted by leading educational institutions.</blockquote>
  </div>
</div>

<div class="testimonial-sec">
  <h2 data-aos="fade-up" data-aos-duration="1500">What our customers say</h2>
  <div class="container d-flex">
    <div class="card">
      <%= cl_image_tag 'sheila_v8fvrm.jpg', style: 'border-radius: 50%; height: 100px; width: 100px' %>
      <div class="quote-wrapper">
        <p class="customer-quote">"A fantastic way to incorporate a huge range of music into your teaching in an interactive and engaging way. Very helpful in keeping my students on track with their music."</p>
        <p class="customer-name">- Sheila</p>
      </div>
    </div>

    <div class="card">
      <%= cl_image_tag 'anders_cenj9o.png', style: 'border-radius: 50%; height: 100px; width: 100px' %>
      <div class="quote-wrapper">
        <p class="customer-quote">"A game-changer for music teachers. It's so easy to use and my students just love it! Highly recommended to anyone looking to teach remotely."</p>
        <p class="customer-name">- Sy</p>
      </div>
    </div>

    <div class="card">
      <%= cl_image_tag 'Joanna_mnlqre.jpg', style: 'border-radius: 50%; height: 100px; width: 100px' %>
      <div class="quote-wrapper">
        <p class="customer-quote">"AMAZING! Such an excellent resource that I can really see helping a huge number of people with progressing their music and developing their skills."</p>
        <p class="customer-name">- Joanna</p>
      </div>
    </div>
  </div>
</div>

<div class="bottom-sec" style="background-image: url('<%= cl_image_path 'guitar-footer-bg_z3gw52.jpg', opacity: 15, width: 1920, crop: :fill %>'); background-repeat: no-repeat; background-position: bottom;"; >
  <div class="container">
    <h2 data-aos="fade-up" data-aos-duration="1500">Ready to start teaching music?</h2>
    <h3 data-aos="fade-up" data-aos-duration="1500">Create your account and get started. It's free!</h3>
    <div class="cta-group">
      <div class="button-green">
        <%= link_to "Dashboard", new_user_session_path %>
      </div>
      <div class="button-outline">
        <%= link_to "Let's jam!", new_user_registration_path %>
      </div>
    </div>
  </div>
</div>
