
  <%= month_calendar(events: @meetings, end_attribute: :end_time) do |date, meetings| %>
    <%= date %>

    <% meetings.each do |meeting| %>
      <div class="meeting">
        <p><%= link_to "#{meeting.student.first_name}", student_path(meeting.student), class: "meeting-link" %></p>
        <small><%= meeting.start_time.localtime.strftime('%H:%M') %> - <%= meeting.end_time.localtime.strftime('%H:%M') %></small>
      </div>
    <% end %>
  <% end %>

