<div class="notes-container mb-4 mt-4">
  <h1 class="bold-headers">Schedule a lesson</h1>
  <%= simple_form_for [ @lesson ] do |f| %>
    <%= f.input :start_time, as: :string, input_html: { class:"datepicker" } %>
    <%= f.input :end_time, as: :string, input_html: { class:"datepicker" } %>
    <%= f.input :rate %>
    <%= f.association :student, collection: User.are_students?, label_method: :full_name, value_method: :id %>
    <%= f.submit "Submit", class: "form-button-green" %>
  <% end %>
</div>
