
<div id="black-background">
  <p><%= @lesson.student.first_name %></p>
  <div id="videos"
       data-controller="vonage"
       data-vonage-api-key="<%= ENV['VONAGE_API_KEY'] %>"
       data-vonage-session-id="<%= @lesson.vonage_session_id %>"
       data-vonage-token="<%= @token %>"
       data-vonage-name="<%= current_user.first_name %>"
       data-vonage-role="<%= current_user.role %>"
       >
    <div class="video-controls">
      <%= link_to edit_lesson_path(@lesson) do %>
        <i class="fas fa-phone-slash" id="videocall-red-btn"></i>
      <% end %>
      <i class="fas fa-video-slash" id="videocall-red-btn" data-action="click->vonage#toggleButton"></i>
    </div>
  </div>
</div>

