<div class="notes-container mb-4 mt-4">
    <h2 class="bold-headers">New resource to add to <%= @chapter.name %></h2>
    <div>
    <%= simple_form_for [@chapter, @resource] do |f| %>
          <%= f.input :title, placeholder: 'Resource title',
          input_html: { class: "form-input-field "} %>
          <%= f.input :photo, as: :file %>
          <%= f.input :video, as: :file %>
          <div class="resource-show-button d-flex">
          <%= f.submit class: "form-button-green" %>
          </div> 
          
    <% end %> 
  </div>

