<div class="card-container-new-resources">
  <div class="container-resources">
    <h2 class="resource-header">New resource to add to <%= @chapter.name %></h2>
    <div>
    <%= simple_form_for [@chapter, @resource] do |f| %>
          <%= f.input :title, placeholder: 'Resource title' %>
          <%= f.input :photo, as: :file %>
          <%= f.input :video, as: :file %>
          <div class="resource-show-button">
          <%= f.submit class: "button-green" %>
          </div> 
          
    <% end %> 
  </div>

</div>
<%= link_to "Back to Resources", resources_path, style: "color: green" %>
</div>

