      <div class="row">
      <div class="col-12 col-lg-9">
        <div class="inner-dashboard-container">
          <div>
            <div class="d-flex">
              <div class="card col-12 col-lg-8">
                <div class="section-header">
                  <h4>Today's lessons</h4>
                  <p><%= Date.today.strftime("%a, %e %b %Y") %></p>
                  <%= link_to "Schedule a lesson", new_lesson_path, class: "btn btn-success" %>
                </div>

                <div>
                  <% @lessons.today.each do |lesson| %>
                  <div class="student-lesson">
                    <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", crop: :fill %>
                    <div class="lesson-info">
                    <h5><%= lesson.student.full_name %></h5>
                    <p><%#= lesson.student.address %></p>
                    <p><%= lesson.start_time.to_s(:time) %> - <%= lesson.end_time.to_s(:time) %></p>

                    <% if lesson.start_time > Time.now %>
                      <p>Starts in <%= lesson.start_time - Time.now %></p>
                    <% else %>
                      <p><%#= link_to "Join lesson", lesson_path(lesson), class: "btn btn-success" %></p>
                    <% end %>
                    </div>
                  </div>
                  <% end %>
                </div>
              </div>

              <div class="card col-12 col-lg-4">
                <div>
                  <h4>Daily schedule</h4>
                  <ul class="schedule">
                    <%= calendar number_of_days: 1 do |date| %>
                      <%= Date.today.strftime("%e %b %Y") %>
                    <% end %>
                  </ul>

                </div>
              </div>

          </div>
        </div>
      </div>
  </div>
</div>
