<div class="inner-dashboard-container">
  <div>
    <div class="row w-100">
      <div class="card lesson">
        <div class="section-header">
          <h4>Today's lessons</h4>
          <p><%= Date.today.strftime("%a, %e %b %Y") %></p>
          <%= link_to "Schedule a lesson", new_lesson_path, class: "button-green" %>
        </div>

        <div>
          <% @lessons.today.each do |lesson| %>
          <div class="student-lesson">

            <div class="user-info">
            <% if lesson.student.photo.attached? %>
              <%= cl_image_tag lesson.student.photo.key, style: 'border-radius: 50%; height: 100px; width: 100px' %>
            <% else %>
              <%= cl_image_tag 'https://res.cloudinary.com/tdavid/image/upload/v1623955031/ssaunier_p1bauy.jpg', style: 'border-radius: 50%; height: 100px; width: 100px'%>
            <% end %>
            <div class="lesson-info">
              <h5><%= lesson.student.full_name %></h5>
          
              <p><%= lesson.start_time.localtime.to_s(:time) %> - <%= lesson.end_time.localtime.to_s(:time) %></p>
            </div>
          </div>
          <div class="lesson-time">
            <p><%= lesson.start_time.localtime.strftime("%I:%M%p") %> - <%= lesson.end_time.localtime.strftime("%I:%M%p") %></p>

            <div class="start-time">
              <% if lesson.start_time > Time.now %>
                <span class="material-icons">schedule</span>
                <p><%= lesson.starting_in %></p>

              <% else %>
                <p><%#= link_to "Join lesson", lesson_path(lesson), class: "btn btn-success" %></p>
              <% end %>
            </div>
          </div>
        </div>

        <% end %>
      </div>
    </div>

    <div class="card">
      <div>
        <h4>Daily schedule</h4>
        <ul class="schedule">
          <%= calendar number_of_days: 1 do |date| %>
            <%= Date.today.strftime("%e %b %Y") %>

            <% @lessons.today.each do |meeting| %>
              <div class="meeting d-flex">
                <p><%= meeting.start_time.localtime.strftime("%I:%M%p") %></p>
                <p><%= meeting.student.first_name %></p>
              </div>
            <% end %>
          <% end %>
        </ul>

      </div>
    </div>
  </div>
</div>
</div>
